In [1]:
#import dependencies
import numpy as np
import pandas as pd 
import os
import nltk
from nltk.corpus import stopwords

In [2]:
#import file
df=pd.read_csv("https://raw.githubusercontent.com/SNEHALDD/Youtube_Comments_Bot_Analysis/main/yt/YouTube-Spam-Collection-v1/Youtube03-LMFAO.csv")
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,z13uwn2heqndtr5g304ccv5j5kqqzxjadmc0k,Corey Wilson,2015-05-28T21:39:52.376000,"<a href=""http://www.youtube.com/watch?v=KQ6zr6...",0
1,z124jvczaz3dxhnbc04cffk43oiugj25yzo0k,Epic Gaming,2015-05-28T20:07:20.610000,wierd but funny﻿,0
2,z13tczjy5xj0vjmu5231unho1ofey5zdk,LaS Music,2015-05-28T19:23:35.355000,"Hey guys, I&#39;m a human.<br /><br /><br />Bu...",1
3,z13tzr0hdpnayhqqc04cd3zqqqjkf3ngckk0k,Cheryl Fox,2015-05-28T17:49:35.294000,Party Rock....lol...who wants to shuffle!!!﻿,0
4,z12pcvix4zedcjvyb04ccr1r0mr2g5xwyng0k,PATRICK_TW,2015-05-28T16:28:26.818000,Party rock﻿,0

In [3]:
#remove unnecessary columns
df.copy()
df.drop(columns=["COMMENT_ID", "AUTHOR","DATE"], inplace=True)
df.head()

                                             CONTENT  CLASS
0  <a href="http://www.youtube.com/watch?v=KQ6zr6...      0
1                                   wierd but funny﻿      0
2  Hey guys, I&#39;m a human.<br /><br /><br />Bu...      1
3       Party Rock....lol...who wants to shuffle!!!﻿      0
4                                        Party rock﻿      0

In [5]:
#check
print(df.isnull().sum())
#data type
print(df.dtypes)

CONTENT    0
CLASS      0
dtype: int64
CONTENT    object
CLASS       int64
dtype: object

In [6]:
#remove extra characters
#remove emojis
df=df.astype(str).apply(lambda x: x.str.encode('ascii','ignore').str.decode('ascii'))

In [7]:
#remove urls, special characters, and punctuations, trailing spaces
df['CONTENT']= df['CONTENT'].str.replace('http[s]?://(?:[a-zA-Z]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',' ')
df['CONTENT']=df['CONTENT'].str.replace('\W',' ',regex=True)
df['CONTENT']=df['CONTENT'].str.replace('\d+',' ')
df

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/Users/zara/opt/miniconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

                                               CONTENT CLASS
0                         a href          a  best part     0
1                                      wierd but funny     0
2    Hey guys  I    m a human  br    br    br   But...     1
3          Party Rock    lol   who wants to shuffle        0
4                                           Party rock     0
..                                                 ...   ...
433                    Like this comment for no reason     1
434                                     love this song     0
435  this song is awesome  these guys are the best ...     1
436    HOW MANY THUMBS UP FOR LOUIS SAVING THE DAY         1
437                                            NICE        0

[438 rows x 2 columns]

In [8]:
#everything to lowercase
df['CONTENT']=df['CONTENT'].str.lower()
df

                                               CONTENT CLASS
0                         a href          a  best part     0
1                                      wierd but funny     0
2    hey guys  i    m a human  br    br    br   but...     1
3          party rock    lol   who wants to shuffle        0
4                                           party rock     0
..                                                 ...   ...
433                    like this comment for no reason     1
434                                     love this song     0
435  this song is awesome  these guys are the best ...     1
436    how many thumbs up for louis saving the day         1
437                                            nice        0

[438 rows x 2 columns]

In [9]:
#remove stopwords
stop_words=set(stopwords.words('english'))
def remove_stop(x):
    return (" ").join([word for word in str(x).split() if word not in stop_words])

df["CONTENT"]=df["CONTENT"].apply(lambda x: remove_stop(x))

df.head()

                                             CONTENT CLASS
0                                     href best part     0
1                                        wierd funny     0
2  hey guys human br br br want human want sexy f...     1
3                       party rock lol wants shuffle     0
4                                         party rock     0

In [10]:
#check nulls
df.isnull().sum()

CONTENT    0
CLASS      0
dtype: int64

In [11]:
#save dataframe as csv file
df.to_csv('Cleaned_Files_With_Class/Clean_Youtube03-LMFAO.csv')